/* ---------- Color Module Styles ----------- */

body {
  color: #4a4a4a;
  background: #01833c;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #ffffff;
  background-color: #ffffff;
}
#header {
  background-color: #c2c4c5;
  background-image: -webkit-linear-gradient(top, #d0d0d0 0%, #c2c4c5 100%);
  background-image: linear-gradient(to bottom, #d0d0d0 0%, #c2c4c5 100%);
}
a,
.link {
  color: #3da76c;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #29e17b;
}
a:active,
.link:active {
  color: #52ef98;
}
.sidebar .block {
  border-color: #cccccc;
  background-color: #ffffff;
}
.site-footer {
  background: #01833c;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #000000;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
